* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c5e9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainPage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  img {
    height: 375px;
    width: 375px;
    margin: 3em;
  }

  .AuthPage {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;

    .buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    h2 {
      font-size: 36px;
      line-height: 42px;
    }

    .textForInput {
      font-size: 18px;
      text-align: left;
      padding-top: 15px;
    }

    button {
      width: fit-content;
      margin-bottom: 5px;
    }

    a {
      text-decoration: none;
    }

    a:visited {
      color: inherit;
    }

    a:hover {
      color: #0366d6;
      text-decoration: underline;
    }
    a:active {
      color: #498ddb;
    }
  }

  @media screen and (max-device-width: 1024px) {
    img {
      display: none;
    }
  }
}
